html {
    height: 100%;
}
body {
    color: black;
    font-family: 'Lucida Sans';
    text-align: center;

    background-color: #779977;
    padding: 0%;
    margin: 0%;
    height: 100%;
    overflow: hidden;
}
.topnav {
    background-color: #557755;
    display: flex;
}
.topnav a {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 3vh;
    text-decoration: none;
    color: black;
}
.topnav a:hover {
    background-color: #335533;
    color: white;
}