body {
    color: black;
    font-family: 'Lucida Sans';
    text-align: center;

    background-color: gray;
    padding: 0%;
    margin: 0%;
}
header {
    font-size: 300%;
    background-color: green;
    border: 3px solid black;
}
p {
    font-size: 150%;
}
pre {
    font-family: 'Lucida Sans';
}