body {
    color: black;
    font-family: 'Lucida Sans';
    text-align: center;

    background-color: gray;
    padding: 0%;
    margin: 0%;
}
header {
    font-size: 300%;
    background-color: green;
    border: 3px solid black;
}
img {
    height: 320px;
}
.container {
    display: flex;
    height: 320px;
}
.small-media-content {
    width: 20%;
}
.large-media-content {
    width: 40%;
}
.text-content {
    flex-grow: 1;
}