body {
    font-family: Arial, Helvetica, sans-serif;
    height: 98vh;
}

img {
    /*
     * CITATION: Found the border-radius attribute by Inspect Element on a CSS file from my real portfolio page
     */
    border-radius: 12%;
    margin-top: 16px;
}

h1 {
    font-size: 32px;
    color: darkred;
    margin: 4px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    color: darkslategray;
    margin: 4px;
}

#tagline {
    text-align: center;
}

.dropdown-control:hover {
    color: darkslategray;
    text-decoration: underline;
    cursor: pointer;
}

.dropdown-contents {
    
}

.collapsed-arrow {
    /*
     * CITATION: Looked up "mdn rotate img element css -ai"
     *   Found the transition and rotate attributes at the following site: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/rotate
     */
    transition: 0.25s;
    rotate: 0deg;
}

.expanded-arrow {
    /*
     * CITATION: Looked up "mdn rotate img element css -ai"
     *   Found the transition and rotate attributes at the following site: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/rotate
     */
    transition: 0.25s;
    rotate: 90deg;
}

.hidden {
    display: none;
}